.markdown-body p.t4 {
    color: #f80000;
    font-size: larger;
    font-weight: 500;
    text-shadow: 0 0 .1px #f80000, 0 0 .2px #f80000, 0 0 .3px #f80000, 0 0 .4px #f80000, 0 0 .5px #f80000, 0 0 .6px #fff, 0 0 .7px #fff, 0 0 .7px #FFF, 0 0 .7px #fff, 0 0 .7px #fff, 0 0 .7px #fff, 0 0 .8px #fff, 0 0 .9px #011876, 0 0 .9px #011876, 0 0 .9px #011876, 0 0 .9px #011876, 0 0 .9px #01187B;
}
